html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f2f2;
  font-size: 14px;
  overscroll-behavior-y: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  table-layout: fixed;
}

.table-light,
.light {
  color: rgba(0, 0, 0, 0.6);
}

thead tr:hover {
  background: transparent;
}

tr:hover {
  background: rgba(255, 255, 255, 0.6);
}

tr:hover .download-link:before {
  content: "Download";
}

tr a.table-link {
  color: rgba(0, 0, 0, 0.7);
  align-content: center;
}

a.table-link:hover {
  color: #007aff;
}

td {
  padding: 8px 0;
}

th {
  padding: 16px 0;
}

tr td:first-child {
  padding-left: 16px;
}

tr td:last-child {
  padding-right: 16px;
}

.right {
  text-align: right;
}

p {
  margin: 0;
  padding: 0;
  line-height: 160%;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

a {
  font-size: 14px;
  line-height: 20px;
  color: #007aff;
  font-weight: 500;
  text-decoration: none;
  width: fit-content;
}

.logo-large {
    width: 300px;
    margin: 5vh auto;
}

nav {
  width: fit-content;
  margin: 0 auto;
}

.search-input {
  width: 300px;
}

.progress-bar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    z-index: 999;

    padding: 0 24px;
    grid-column-gap: 24px !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.table-head-active:after {
  content: " \2193";
}

.create-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  grid-row-gap: 40px;

  margin-top: 16px;
}

label {
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.assignees-table {
  width: fit-content;
}